<!--
<nav class="navbar navbar-inverse" *ngIf="loggedUser">
	<div class="container">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		<!--
				<a class="navbar-brand" href="#">Brand</a>

		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul *ngIf="loggedUser" class="nav navbar-nav navbar-left">
				<li>
					<a routerLink="/project-list" routerLinkActive="active">
						Projects
					</a>
				</li>

				<li>
					<a routerLink="/converter-list" routerLinkActive="active">
						Converters
					</a>
				</li>

				<li *ngIf="loggedUser.role === 'ADMIN'">
					<a routerLink="/user-list" routerLinkActive="active">
						Users
					</a>
				</li>
			</ul>
			<ul *ngIf="loggedUser" class="nav navbar-nav navbar-right">

				<li class="greet-user">
					{{ loggedUser.name}}
				</li>
				<button  class="btn btn-danger" type="button" (click)="logout()">
					Logout
				</button>
			</ul>
		</div>
	</div>
</nav>

<div *ngIf="!loggedUser" [ngClass]="{'login-container': !isLoggedUser}">
	<div class="container">
		<router-outlet></router-outlet>
	</div>
</div>


-->
<div id="wrapper" [ngClass]="{'login-container': isLoggedUser === false}">

	<div id="sidebar-wrapper" *ngIf="loggedUser">
		<ul class="sidebar-nav">
			<li class="sidebar-brand">
				<a href="#" i18n>
					Translation Manager
				</a>
			</li>
			<li>

				<a routerLink="/project-list" routerLinkActive="active" i18n>
					<span class="sidebar-icon-wrapper">
						<i class="fa fa-suitcase" aria-hidden="true"></i>
					</span>
					 Projects
				</a>
			</li>

			<li>

				<a routerLink="/converter-list" routerLinkActive="active" i18n>
					<span class="sidebar-icon-wrapper">
						<i class="fa fa-cog" aria-hidden="true"></i>
					</span>
					 Converters
				</a>
			</li>

			<li *ngIf="loggedUser.role === 'ADMIN'">
				<a routerLink="/user-list" routerLinkActive="active" i18n>
					<span class="sidebar-icon-wrapper">
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>
					 Users
				</a>
			</li>
		</ul>
		<div id="sidebar-bottom-user">
			<div class="img-container">
				<img [src]="loggedUser.pictureUrl" />
			</div>
			<span>
				{{loggedUser.name}}
				<i class="fa fa-power-off" aria-hidden="true" (click)="logout()"></i>
			</span>
		</div>
	</div>

	<div id="page-content-wrapper">
		<div class="container-fluid">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>