
<div id="wrapper" [ngClass]="{'login-container': isLoggedUser === false}">

	<div id="sidebar-wrapper" *ngIf="loggedUser">
		<ul class="sidebar-nav">
			<li class="sidebar-brand">
				<a href="#" i18n>
					Translation Manager
				</a>
			</li>
			<li>

				<a routerLink="/project-list" routerLinkActive="active" i18n>
					<span class="sidebar-icon-wrapper">
						<i class="fa fa-suitcase" aria-hidden="true"></i>
					</span>
					 Projects
				</a>
			</li>

			<li>

				<a routerLink="/converter-list" routerLinkActive="active" i18n>
					<span class="sidebar-icon-wrapper">
						<i class="fa fa-cog" aria-hidden="true"></i>
					</span>
					 Converters
				</a>
			</li>

			<li *ngIf="loggedUser.role === 'ADMIN'">
				<a routerLink="/user-list" routerLinkActive="active" i18n>
					<span class="sidebar-icon-wrapper">
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>
					 Users
				</a>
			</li>
		</ul>
		<div id="sidebar-bottom-user">
			<div class="img-container">
				<img [src]="loggedUser.pictureUrl" />
			</div>
			<span>
				{{loggedUser.name}}
				<i class="fa fa-power-off" aria-hidden="true" (click)="logout()"></i>
			</span>
		</div>
	</div>

	<div id="page-content-wrapper">
		<div class="container-fluid">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>