<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<p *ngIf="!loggedUser" class="page-heading">
				{{title}}
			</p>
			<ul *ngIf="loggedUser" class="nav navbar-nav navbar-left">
				<li (click)="goToProjects()">
					Projects
				</li>
				<li (click)="goToConverters()">
					Converters
				</li>
				<li>
					Teams
				</li>
			</ul>
			<ul *ngIf="loggedUser" class="nav navbar-nav navbar-right">

				<li class="greet-user">
					{{ loggedUser.name}}
				</li>
				<button  class="btn btn-primary" type="button" (click)="logout()">
					Logout
				</button>
			</ul>
		</div>
	</div>
</nav>

<div class="container-fluid" [ngClass]="{'login-container': !isLoggedUser}">
	<router-outlet></router-outlet>
</div>
