<nav class="navbar navbar-inverse" *ngIf="loggedUser">
	<div class="container">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		<!--
				<a class="navbar-brand" href="#">Brand</a>
		-->
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul *ngIf="loggedUser" class="nav navbar-nav navbar-left">
				<li>
					<a routerLink="/project-list" routerLinkActive="active">
						Projects
					</a>
				</li>

				<li>
					<a routerLink="/converter-list" routerLinkActive="active">
						Converters
					</a>
				</li>

				<li *ngIf="loggedUser.role === 'ADMIN'">
					<a routerLink="/user-list" routerLinkActive="active">
						Users
					</a>
				</li>
			</ul>
			<ul *ngIf="loggedUser" class="nav navbar-nav navbar-right">

				<li class="greet-user">
					{{ loggedUser.name}}
				</li>
				<button  class="btn btn-danger" type="button" (click)="logout()">
					Logout
				</button>
			</ul>
		</div>
	</div>
</nav>

<div class="container-fluid" [ngClass]="{'login-container': !isLoggedUser}">
	<router-outlet></router-outlet>
</div>
