<div class="row" >

	<div class="row">
		<div class="col-md-12">
			<div class="form-heading-wrapper">
				<i class="fa fa-suitcase" aria-hidden="true"></i>
				<h2>Create Project</h2>
			</div>
			<form *ngIf="projectForm !== null" [formGroup]="projectForm" novalidate>
				<div class="form-group">
					<label for="name">Project name *</label>
					<input class="form-control"
						   type="text"
						   name="name"
						   id="name"
						   required
						   formControlName="name"
					/>

					<div *ngIf="projectForm.get('name').touched && projectForm.get('name').invalid"
						 class="alert alert-danger">
						{{formErrors.name}}
					</div>
				</div>


				<div class="form-group">
					<label for="hashMapIdentifier">Project ID *</label>
					<input class="form-control"
						   type="text"
						   name="hashMapIdentifier"
						   id="hashMapIdentifier"
						   required
						   formControlName="hashMapIdentifier"
					/>

					<div *ngIf="projectForm.get('hashMapIdentifier').touched && projectForm.get('hashMapIdentifier').invalid"
						 class="alert alert-danger">
						{{formErrors.hashMapIdentifier}}
					</div>

				</div>
				<div class="form-group">
					<label for="git">Git Url *</label>
					<input class="form-control"
						   type="text"
						   name="git"
						   id="git"
						   required
						   formControlName="git"
					/>

					<div *ngIf="projectForm.get('git').touched && projectForm.get('git').invalid"
						 class="alert alert-danger">
						{{formErrors.git}}
					</div>
				</div>

				<div class="form-group">
					<label for="projectKey">Project key *</label>
					<input class="form-control"
						   type="text"
						   name="projectKey"
						   id="projectKey"
						   required
						   formControlName="projectKey"
					/>

					<div *ngIf="projectForm.get('projectKey').touched && projectForm.get('projectKey').invalid"
						 class="alert alert-danger">
						{{formErrors.projectKey}}
					</div>
				</div>

				<div class="form-group">
					<label for="resourcePath">Path to resources *</label>
					<input class="form-control"
						   type="text"
						   name="resourcePath"
						   id="resourcePath"
						   required
						   formControlName="resourcePath"
					/>

					<div *ngIf="projectForm.get('resourcePath').touched && projectForm.get('resourcePath').invalid"
						 class="alert alert-danger">
						{{formErrors.resourcePath}}
					</div>
				</div>
				<div class="form-group">
					<label for="tmpBranchesInput">Enter branches for project</label>
					<div class="input-group">
						<input class="form-control" type="text" name="tmpBranchesInput" id="tmpBranchesInput" [(ngModel)]="tmpBranchesInput" [ngModelOptions]="{standalone: true}" />
						<span class="input-group-btn">
							<button class="btn btn-primary" (click)="addBranch()">
								<i class="fa fa-plus"></i>Add
							</button>
						</span>
					</div>
					<div class="project-branch" *ngFor="let branch of projectForm.get('branches').value; let i = index">
						{{branch}}
						<i class="glyphicon glyphicon-remove" (click)="removeBranch(i)"></i>
					</div>
				</div>

				<div class="form-group">
					<label for="assigneeSelect">
						Select assignee
					</label>
					<select class="form-control select" id="assigneeSelect" formControlName="assignee">
						<option *ngFor="let user of assignableUsers" [value]="user.id">
							{{user.name}}
						</option>
					</select>
				</div>

				<div class="form-group">
					<label for="converterSelect">
						Select converter
					</label>
					<select class="form-control select"
							id="converterSelect"
							formControlName="converter"
					>
						<option *ngFor="let converter of assignableConverters" [value]="converter.id">
							{{converter.name}}
						</option>
					</select>
				</div>

				<div class="form-group form-footer">
					<button
							type="button"
							class="btn btn-primary btn-cancel"
							(click)="goBack()"
					>
						Cancel
					</button>
					<button
							type="button"
							class="btn btn-primary btn-save"
							(click)="addProject()"
							[disabled]="!isFormValid()"
					>
						Submit
					</button>
				</div>
			</form>
		</div>
	</div>
</div>