<div class="list-table-container">
	<div class="row page-title-row ">
		<div class="col-md-4 page-title">
			Projects
		</div>
		<div class="col-md-6 pull-right">
			<button class="btn pull-right btn-add-project" (click)="goToAddNewProject()">
				Create Project
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 input-filter">
			<input type="text" class="form-control" placeholder="Search..." [(ngModel)]="query" />
			<i class="glyphicon glyphicon-search"></i>
		</div>
	</div>
	<div class="row">
		<table  class="table list-table">
			<thead>
			<tr>
				<th>
					Project name
				</th>
				<th>
					Git URL
				</th>

				<th>
					Path to resources
				</th>

				<th>
					Assignee
				</th>

				<th>
					Status
				</th>

				<th>
					Word count
				</th>

				<th>
					Estimated price
				</th>
			</tr>
			</thead>

			<tbody>
			<tr *ngFor="let project of projects | filter:query"  (click)="goToDetail(project)">
				<td *ngIf="!project.hidden">{{project.name}}</td>
				<td *ngIf="!project.hidden">{{project.git}}</td>
				<td *ngIf="!project.hidden">{{project.resourcePath}}</td>
				<td *ngIf="!project.hidden">{{project.assignee ? project.assignee.name : "No assignee"}}</td>
				<td *ngIf="!project.hidden"
					[ngClass]="{
						'status-done': project.status.toUpperCase().trim() === 'DONE',
						'status-in-progress': project.status.toUpperCase().trim() === 'IN PROGRESS',
						'status-closed': project.status.toUpperCase().trim() === 'CLOSED'
					}"
				>{{project.status}}</td>
				<td *ngIf="!project.hidden" class="badge-column"><span class="badge">{{project.wordCount}}</span></td>
				<td *ngIf="!project.hidden" class="badge-column"><span class="badge">
					{{project.price}} {{project.currency}}
				</span></td>
			</tr>
			</tbody>


		</table>
	</div>


</div>
