<div class="row">
	<div class="col-md-12">
		<div class="action-edit-buttons">
			<button class="btn btn-primary" (click)="goBack()">
				<i class="glyphicon glyphicon-arrow-left"></i> Back
			</button>
			<button class="btn btn-success" (click)="edit()">
				<i class="fa fa-pencil"></i> Edit
			</button>

			<button class="btn btn-danger" (click)="delete()">
				<i class="fa fa-trash"></i> Delete
			</button>
		</div>
	</div>


	<div class="col-md-9">
		<div *ngIf="project" class="panel panel-default">
			<div class="panel-heading">
				<h2>Project information</h2>
			</div>
			<div class="panel-body">
				<div>
					<label><span>Database Id</span></label>
					<p>{{project.id}}</p>
				</div>
				<div>
					<label><span>Project Id</span></label>
					<p>{{project.hashMapIdentifier}}</p>
				</div>
				<div>
					<label><span>Project Name</span></label>
					<p>{{project.name}}</p>
				</div>
				<div>
					<label><span>Assignee</span></label>
					<p>{{project.assignee ? project.assignee.name : 'No Assignee'}}</p>
				</div>
				<div>
					<label><span>Approval</span></label>
					<p>{{project.approval ? project.approval.name : 'No Approval'}}</p>
				</div>
				<div>
					<label><span>Git Url</span></label>
					<p>{{project.git}}</p>
				</div>

				<div>
					<label><span>Resource Path</span></label>
					<p>{{project.resourcePath}}</p>
				</div>
				<div>
					<label><span>Branches</span></label>
					<p>{{project.branches.join(', ')}}</p>
				</div>

				<div>
					<label><span>Translation status</span></label>
					<p>{{project.status}}</p>
				</div>

				<div>
					<label><span>Estimated price</span></label>
					<p>{{project.price}} {{project.currency}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3" *ngIf="project">
		<history-panel [getChangedValues]="computeChangedValues"></history-panel>
	</div>


</div>


