<div class="container" >
	<div class="row">
		<div class="col-md-3">
			<button class="btn btn-primary" (click)="goBack()">
				<i class="glyphicon glyphicon-arrow-left"></i>
				Back
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<form *ngIf="model">
				<div class="form-group">
					<label for="name">Project name: </label>
					<input class="form-control" type="text" name="name" id="name" [(ngModel)]="model.name" />
				</div>
				<div class="form-group">
					<label for="name">GIT URL: </label>
					<input class="form-control" type="text" name="git_url" id="git_url" [(ngModel)]="model.gitUrl" />
				</div>
				<div class="form-group">
					<label for="name">Stash ID: </label>
					<input class="form-control" type="text" name="stash_id" id="stash_id" [(ngModel)]="model.stashId" />
				</div>
				<div class="form-group">
					<label for="name">Path to resources: </label>
					<input class="form-control" type="text" name="path_to_resources" id="path_to_resources" [(ngModel)]="model.pathToResources" />
				</div>
				<div class="form-group">
					<label for="name">Resource prefix: </label>
					<input class="form-control" type="text" name="resource_prefix" id="resource_prefix" [(ngModel)]="model.resourcePrefix" />
				</div>

<!--
				<div class="form-group">
					<label for="name">Convert name: </label>
					<input class="form-control" type="text" name="converter_name" id="converter_name" [(ngModel)]="model.converter.name" />
				</div>
			-->
				<div class="form-group">
					<button type="button" class="btn btn-primary" (click)="addProject()">Submit</button>
				</div>
			</form>
		</div>
