.panel .panel-body label {
    padding: 5px;
    width: 25%;
    font-size: 18px;
    color: #999;
    background-color: #fff;
}

label span {
}

.panel .panel-body p {
    width: 70%;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    background-color: #fff;
    border: 1px solid #eee;
    display: inline-block;
}

.panel .panel-body p:hover {
    box-shadow: 0px 0px 4px 1px #ccc;
}

.panel .panel-body div {
    margin-top: 10px;
}

.panel-body {
    background-color: #fff;
}

.panel-heading h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    top: 12px;
    background-color: #fffffc;
    display: inline;
    font-size: 28px;
    padding-right: 10px;
    padding-left: 5px;
    color: #777;
}

.panel-heading {
    background-color: #fffffc;
}

