sign-in-modal .modal, sign-in-modal .modal-dialog, sign-in-modal .modal-content {
	display: block !important;
	opacity: 1;
}

sign-in-modal .modal-body {
	height: 168px;
}

sign-in-modal .modal-dialog {
	margin-top: 105px;
}
